@import url('https://fonts.googleapis.com/css?family=Lato');

@media screen and (max-width: 480px){
    body{
        background-color: green;
    }
}

div{
    outline:1px solid lime
}

body{
    background-color: #f2f2f2;
    margin: 0px;
    font-family: 'Lato', sans-serif;
}
.header{
    background-color: #2d303a;
    color: #FFFFFF;
    height: 90px;
}
.nav{
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
}
.logo{
    margin-top: 35px;
    font-size: 1.4rem;
    float: left;

}
.links{
    margin-top: 40px;
    font-size: 0.75rem;
    float: right;
    color: #4B4E61;
}
.links a{
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}
.links a:hover{
    color: #f06c64;
}
.salmon{
    color: #f06c64;
}

.banner{
    background-color: #f06c64;
    padding: 20px 0;
    text-align: center;
}

.banner img{
    max-width: 780px;
    width: 90%;
    
}


.our services{
    background-color: #EFEFEF;
    width: 910px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    float: center;
    text-align: center;
    width: 100%;
}

.our services text{
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
}

.icon 1{
    width: 210px;
    height: 90px;
    background-color: #EFEFEF;
    padding: 20px;
    float: left;

}

.icon 2{
    width: 210px;
    height: 90px;
    background-color: #EFEFEF;
    padding: 20px;
    float: left;

}

.icon 3{
    width: 210px;
    height: 90px;
    background-color: #EFEFEF;
    padding: 20px;
    float: center;

}

.icon 4{
    width: 210px;
    height: 90px;
    background-color: #EFEFEF;
    padding: 20px;
    float: center;
}

.icon 5{
    width: 210px;
    height: 90px;
    background-color: #EFEFEF;
    padding: 20px;
    float: right;
}

.icon 6{
    width: 210px;
    height: 90px;
    background-color: #EFEFEF;
    padding: 20px;
    float: right;
}
